/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(img/hero.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

header img {
  margin-top: 20px;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 450px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
}

nav {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav a {
  text-decoration: none;
}

.logo_title {
  width: 200px;
}

li {
  list-style: none;
}

.content {
  max-width: 640px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 200px;
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.5;
}